<!-- this file and similar file will be used for the html -->
<!doctype html>
<html lang="en">
<head><meta charset="utf-8"><title>{{ .title }}</title></head>
<body>
    <h1>{{ .message }}</h1>
    <p><a href="/api/health">health</a></p>
</body>
</html>
