<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ .title }}</title>
</head>
<body>
  <h1>{{ .title }}</h1>
  
  <h2>Create Peer</h2>
  <form method="post" action="/peers">
    <p>
        <label for="name">Name:</label><br/>
        <input name="name" placeholder="name" required />
    </p>
    <p>
        <label for="ip">Endpoint IP (AllowedIPs):</label><br/>
        <input name="ip" placeholder="10.8.0.x/32" />
    </p>
    <p>
        <label for="keepalive">Persistent Keepalive (seconds):</label><br/> 
        <input name="keepalive" placeholder="20" />
    </p>
    <p>
        <label for="pubkey">Public Key:</label><br/>
        <input name="pubkey" placeholder="" />
    </p>
    <button type="submit">Create</button>
  </form>

  <h2>Peers</h2>
  <table border="1" cellpadding="6">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Public Key</th>
      <th>Endpoint IP</th>
      <th>Actions</th>
    </tr>
    {{ range .peers }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .IP }}</td>
      <td>{{ .Keepalive }}</td>
      <td>{{ .PublicKey }}</td>
      <td>
        <a href="/peers/{{ .ID }}/edit"><button>Edit</button></a>
        <form method="post" action="/peers/{{ .ID }}/delete" style="display:inline"
              onsubmit="return confirm('Delete {{ .ID }}?')">
          <button>Delete</button>
        </form>
      </td>
    </tr>
    {{ end }}
  </table>

  <p><a href="/">Home</a></p>
</body>
</html>
