<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ .title }}</title>
</head>
<body>
  <h1>{{ .title }}</h1>

  <h2>Peers</h2>
  <table border="1" cellpadding="6">
    <tr><th>ID</th><th>Name</th><th>IP</th><th>Note</th></tr>
    {{ range .peers }}
    <tr>
      <td>{{ .ID }}</td>
      <td>{{ .Name }}</td>
      <td>{{ .IP }}</td>
      <td>{{ .Note }}</td>
    </tr>
    {{ end }}
  </table>

  <p><a href="/">Home</a></p>
</body>
</html>
