{{ define "partials/head" }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .title }}{{ .title }} . {{ end }}GopherGate</title>
<link rel="icon" type="image/png" href="/static/img/GopherGate-logo.png" />
<link rel="stylesheet" href="/static/css/styles.css?v=1" />
{{ end }}
